@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-blue, 200);
$warn: mat-palette($mat-deep-orange);

// lump together
$theme: mat-light-theme($primary, $accent, $warn);

// call
@include angular-material-theme($theme);

$custom-typography: mat-typography-config(
  $font-family: 'Lato, monospace',
  $headline: mat-typography-level(32px, 32px, 300),
  $title: mat-typography-level(13px, 16px, 300),
  $body-1: mat-typography-level(13px, 16px, 300),
  $body-2: mat-typography-level(13px, 16px, 300),
  $button: mat-typography-level(13px, 16px, 300),
  $input: mat-typography-level(1em, 1, 300),
  $subheading-2: mat-typography-level(13px, 16px, 300)
);
@include angular-material-typography($custom-typography);
/* Disable Text Select */


// Global Styles
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 10px 50px 25px 50px;
  font-weight: 300;
  background: #fff;
  color: #666;
}

//specific styles

.app-title {
  letter-spacing: 8px;
  font-weight: 100;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  color:mat-color($primary);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 50%;
}

.example-full-width {
  width: 50%;
}
table {
  width: 100%;
  font-family: 'Lato', sans-serif !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

input[text],
button {
  color: #888;
}


.selected {
    background-color: mat-color($primary);
    color: white;
  }
  .h2-subtitle { 
      font-size: 1rem;
      text-transform: uppercase;
      color: #666;
      letter-spacing: 5px;
      margin-bottom: 50px;

  }
  .dataset-table {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .details {
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}

.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color:  mat-color($accent);
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}


 