/* You can add global styles to this file, and also import other style files */

/* Application-wide Styles */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 1rem;
}

.app-title {
  letter-spacing: 8px;
  font-weight: 100;
  font-size: 2.5rem;
  color: #1e88e5;
  text-transform: uppercase;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

input[text],
button {
  color: #888;
}

/* everywhere else */
